<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>295942952041-mkvj520d591suq6kasnavnb9ate7lctc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295942952041-mkvj520d591suq6kasnavnb9ate7lctc</string>
	<key>API_KEY</key>
	<string>AIzaSyB6byuQJYXA11VJmOaCsYEZ_7B86vTQsVU</string>
	<key>GCM_SENDER_ID</key>
	<string>295942952041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swopit.SwopIt</string>
	<key>PROJECT_ID</key>
	<string>swopit-49d3e</string>
	<key>STORAGE_BUCKET</key>
	<string>swopit-49d3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:295942952041:ios:71a607a0ca7b2ef6</string>
	<key>DATABASE_URL</key>
	<string>https://swopit-49d3e.firebaseio.com</string>
</dict>
</plist>